@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #101010;
  --muted: #f9f9f9;
  --border: #033f3633;
  --primary: #005ffb;
  --secondary: #c3fc29;
  --input: #e9e9e9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-input: var(--input);
  --font-sans: var(--font-sf-pro);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sf-pro), sans-serif;
  font-weight: 500;
  line-height: 1;
}
